.bg-image {
  background-image: url("../../assets/bg-images/img-6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 10em;
}

.font-heading {
  font-family: "Stick No Bills", sans-serif;
}
