.bg-image {
  background-image: url("../../assets/bg-images/gymBodyBuilder.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  margin-top: 2em;
  color: beige;
  padding-bottom: 10em;
}
